.profile-container {
  border: solid 1px black;
  color: black;
  width: 51%;
  text-align: center;
  height: 60vh;
  margin: 8% auto 0;
  position: relative;
  h1 {
    background: white;
    width: 53%;
    margin: 0 auto;
    top: -8%;
    padding: 8px 1%;
    position: relative;
    font-size: 3em;
    left: -13%;
  }
  button {
    width: 70%;
    color: white;
    height: 17%;
    font-size: 12px;
    font-weight: 500;
    background-color: #151E3F;
  }
}

.profile-info{
  align-items: center;
  display: flex;
  flex-direction: column;
  border: solid;
  top: 1%;
  position: relative;
  width: 76%;
  height: 60%;
  left: 13%;
}
span.nav-link {
  text-decoration: none;
  color: black;
}
