@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 900px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1280px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

@import './login';
@import './navbar';
@import './createUser';
@import './profile';
@import './hamburgerMenu';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #341375;  /* fallback for old browsers */
  color: black;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0
}

a {
  text-decoration: none;
}

.home-header {
  margin-top: 3%;
  color: #151E3F;
  h1 {
    margin-top: -1%;
    margin-bottom: 2%;
    margin-left: 5%;
    font-weight: 500;
  }
}
