.budget-card{
  color: white;
  width: 31%;
  height: 190px;
  overflow: scroll;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1em;
  background: #151E3F;
  border-radius: 3%;
}

.budget-card:hover {
  color: white;
  width: 32%;
  height: 191px;
  overflow: scroll;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1em;
  border-radius: 3%;
  transition-duration: 0.8s;
}

/* .budget-card:nth-child(3n+3){
  color: white;
  width: 31%;
  height: 10em;
  overflow: scroll;
  display: inline-block;
  margin-right: 0%;
  margin-bottom: 1em;
  background: rgb(13,6,48);
  background: linear-gradient(0deg, rgba(13,6,48,1) 0%, rgba(13,6,48,0.8533788515406162) 89%);
  border-radius: 3%;
} */

.trans-card span{
  float: right;
}
.trans-card {
  width: 100%;
  margin: 0 auto;
  font-weight: 600;
}

.card-back{
  padding: 1em;
}
.card-back div{
  padding: 0 1%;
}

.card-back-cats{
  display: inline-block;
  text-align: right;
  margin-left: 15%;
}
.card-back-cats {
  display: inline-block;
  text-align: right;
  margin-left: 10%;
}

.card-back-last{
  font-weight: bold;
font-size: 1.1em;
color: #F2F3D9;
}
.card-back-data{
  display: inline-block;
  text-align: left;
}
.card-back p{
  /* text-align: center; */
  /* font-weight: 600; */
  margin: 0
}
.card-back h4{
  /* text-align: center; */
  font-weight: 700;
  margin-bottom: 3%;

}
.card-back h5{
  /* text-align: center; */
  font-weight: 300;
  margin-bottom: 3%;
  margin-top: 7%;
  font-size: 1em;

}

.card-back hr {
  border-bottom: hidden;
}


#main-month-bar {
  /* margin-top: 22px; */
  position: relative;
}

#main-month-bar .progress-bar .filler-4 {
  background: #151E3F;
}

#main-month-bar .progress-bar {
  position: relative;
  height: 7px;
  border-radius: 3px;
  width: 96%;
  margin: 0 auto;
  background: rgb(140, 138, 166);
  /* margin-top: 3em; */
  left: 36px;
}

#main-month-info {
  margin-top: 6px;
}

.month-header{
  margin: 0;
  display: inline-block;
  margin-left: 5%;
  width: 100%;
  font-weight: 400;
  font-size: 24px;
}

.month-card-name{
  margin-top: 1%;
  margin-bottom: 2%;
  margin-left: 5%;
  display: inline-block;
  width: 23%;
}

.month-buttons{
  position: relative;
  display: inline-block;
  top: 53px;
  right: -23%;
  width: 5%;
}

#month-forward{
  background: transparent;
  border: none;
  font-size: 1em;
  position: absolute;
}

#month-forward:hover,
#month-back:hover {
  background-color: #3C4148;
  color: white;
}

#month-back{
  font-size: 1em;
  background: transparent;
    border: none;
}

.card-progress-bar {
  margin-top: 14%
}

.progress-bar {
  position: relative;
  height: 7px;
  border-radius: 3px;
  width: 88%;
  margin: 0 auto;
  background: rgb(140, 138, 166);
  /* margin-top: 3em; */
}

.filler {
  background: white;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.filler-4 {
  background: white;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.filler-3 {
  background: green;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.filler-2 {
  background: darkred;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.filler-1 {
  background: red;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.income {
  margin: 0;
  display: inline-block;
  float: right;
  margin-right: -2%;
  font-weight: 400;
  word-spacing: 1px;
}

.spent {
  margin: 0;
  display: inline-block;
  margin-left: 6%;
  font-weight: 400;
  word-spacing: 1px;
}

.card-bar{
  color: white
}

.category-spent{
  margin-left: 6%;
  margin-top: 3%;
  font-weight: 400;
}

.category-name{
  margin-left: 6%;
  margin-top: 19%;
  font-size: 1.5em;
  font-weight: 300;
}

.main-budget-form{
  display: inline-block;
  width: 50%;
}

.main-budget-form h4{
  display: inline-block;
  width: 50%;
}

.main-budget-form * input{
  float: right;
  border: none;
  border-bottom: 1px solid lightgray;
  -webkit-appearance: none;
  font-size: 14px;
}

.main-budget-form * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.main-budget-form * input:focus{
  outline: none;
}

.cat-budget-form{
  display: inline-block;
  width: 50%;
}

.cat-budget-form * input{
  float: right;
}

.side-budget-form{
  display: inline-block;
  float: right;
  width: 36%;
}

.side-budget-form span{
  float: right;
}

.start-budget-button{
  padding: 12px 3em;
  font-size: 1em;
  border-radius: 7px;
  background: #151E3F;
  color: white;
  border: none;
  font-weight: 700;
  box-shadow: 3px 4px 5px 0px lightgrey;
  position: relative;
  left: 38%;
  font-weight: 400;
}

.new-budget{
  color: black;
  margin-left: 9px;
  margin-right: 26px;
  border-top: solid 1px lightgray;
  padding-top: 4%;
}

.new-budget h2{
  margin-bottom: 3%;
  font-weight: 500;
}

.enter-income{
  margin-top: 12px;
  padding: 8px 1em;
  font-size: 1em;
  border-radius: 7px;
  background: darkseagreen;
  color: white;
  border: none;
  font-weight: 700;
  box-shadow: 3px 4px 5px 0px lightgrey;
  position: relative;
  font-weight: 400;
}

.enter-category{
  margin-top: 12px;
  padding: 8px 1em;
  font-size: 1em;
  border-radius: 7px;
  background: goldenrod;
  color: white;
  border: none;
  font-weight: 700;
  box-shadow: 3px 4px 5px 0px lightgrey;
  position: relative;
  font-weight: 400;
}

.submit-budget{
  margin-top: 12px;
  padding: 8px 1em;
  font-size: 1em;
  border-radius: 7px;
  background: limegreen;
  color: white;
  border: none;
  font-weight: 700;
  box-shadow: 3px 4px 5px 0px lightgrey;
  position: relative;
  font-weight: 400;
}

.category-groups{
  margin: 13px 0;
}

.category-groups * input{
  float: right;
  border: none;
  border-bottom: 1px solid lightgray;
  -webkit-appearance: none;
  font-size: 14px;
}

.category-groups * input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.category-groups * input:focus{
  outline: none;
}
