.budget-card{
  color: white;
  width: 31%;
  height: 10em;
  overflow: scroll;
  display: inline-block;
  margin-right: 2%;
  margin-bottom: 1em;
  background: rgb(13,6,48);
  background: linear-gradient(0deg, rgba(13,6,48,1) 0%, rgba(13,6,48,0.8533788515406162) 89%);
  border-radius: 3%;
}

.trans-name{
  display: inline-block;
}

.trans-amount{
  display: inline-block;
}

#main-month-bar {
  /* margin-top: 22px; */
  position: relative;
}

#main-month-info {
  margin-top: 6px;
}

.month-header{
  margin: 0;
}

.month-card-name{
  margin-top: 1%;
  margin-bottom: 2%;
}

#month-forward{
  background: transparent;
  border: none;
  font-size: 1em;
}

#month-forward:hover,
#month-back:hover {
  background-color: #3C4148;
  color: white;
}

#month-back{
  font-size: 1em;
  background: transparent;
    border: none;
}

.card-progress-bar {
  margin-top: 10%
}

.progress-bar {
  position: relative;
  height: 7px;
  border-radius: 3px;
  width: 88%;
  margin: 0 auto;
  background: rgb(140, 138, 166);
  /* margin-top: 3em; */
}

.filler {
  background: white;
  height: 100%;
  border-radius: inherit;
  transition: width .2s ease-in;
}

.income {
  margin: 0;
  display: inline-block;
  float: right;
  margin-right: 6%;
}

.spent {
  margin: 0;
  display: inline-block;
  margin-left: 6%;
}

.card-bar{
  color: white
}

.category-spent{
  margin-left: 6%;
}

.category-name{
  margin-left: 6%;
}
.category-budget{}
