.budget-container{
  /* border: 1px solid black; */
  width: 65%;
  height: 75vh;
  display: inline-block;
  margin-left: 3em;
  overflow: scroll;
  /* box-shadow: inset -1px -17px 6px -10px #999; */
  padding-left: 11px;
  position: sticky;
}
.home-page-header{
  margin-left: 2em;
}
.month-card {
  /* background: rgb(148,255,220); */
  background: #151E3F;
  padding: 11px 0;
  padding-bottom: 23px;
  margin-bottom: 34px;
  box-shadow: -1px 7px 11px 0px lightgrey;
  border-radius: 15px;
  margin-right: 11px;
  margin-left: -1px;
  height: 5em;
  color: white;
}

/* .month-card:hover {
  filter: blur(0.2rem);
  color: white;
} */

.month-card-name{
  margin-left: 5%;
  display: inline-block;
}

.budget-cards {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.inset-shad {
    content:'';
    display:block;
    box-shadow:inset 0 0 10px black;
    position:relative;
    top:0;
    left:0;
    width:100%;
    height:100%;
}
