.budget-container{
  /* border: 1px solid black; */
  width: 60%;
  height: 75vh;
  display: inline-block;
  margin-left: 3em;
  overflow: scroll;
}
.month-card {
  background: #AC98D6;
  padding: 16px 0;
  margin-bottom: 2em;
  
}

.month-card-name{
  color: black;
  margin: 0 auto 12px;
  position: relative;
  width: 8em;
  left: 18px;
}

.budget-cards {
  /* display: grid;
  grid-template-columns: repeat(3, 1fr); */
  display: flex;
  flex-wrap: wrap;
}
