.my-budge-container {
  /* display: flex; */
  border: solid black 1px;
  width: 91vw;
  height: 75vh;
  margin: 0 auto;
  background: white;
  justify-content: space-between;
  flex-wrap: wrap;
}

.my-budget-trans-container{
  width: 59%;
  border: solid lightgreen 1px;
  height: 35%;
  display: inline-block;
}

.my-budget-graph-container{
  width: 60%;
  border: solid lightgreen 1px;
  height: 100%;
  display: inline-block;
}

.my-budget-category-container{
  width: 39%;
  border: solid lightgreen 1px;
  height: 65%;
  display: inline-block;
  position: relative;
  top: -90%;
  left: 60%;
}

.my-budget-overview-container {
  border: solid lightgreen 1px;
  height: 35%;
  top: -90%;
  width: 39%;
  display: inline-block;
  position: relative;
}
