.expenses-container {
  border: solid black 1px;
  width: 20%;
  display: inline-block;
  float: right;
  margin-right: 4em;
  height: 70vh;
  padding: 1em;
  background: #030027;
  color: white;
  border-radius: 3%;
}

.expense-header h2{
  font-weight: 500;
}

.side-expense-card span {
  float: right
}

.expense-sub-header{
  margin: 3% 0;
  font-weight: 100;
}

.expense-card-container{
  height: 42vh;
  overflow: scroll;
}


.expense-card-container div{
  margin-bottom: 9px;
  padding: 15px 6px;
  background: #151E3F;
  font-weight: 100;
}
.expense-card-container-min{
  height: 52vh;
  overflow: scroll;
}

.expense-card-container-min div{
  margin-bottom: 9px;
  padding: 15px 6px;
  background: #151E3F;
  font-weight: 100;
}


.add-expense{
  text-align: center;
  width: 72%;
  left: 16%;
  position: relative;
  margin-top: 13px;
  cursor: pointer;
}

.add-expense form{
  display: flex;
  flex-direction: column;
}

.add-expense h4{
  margin: 3% 0;
}

.add-expense input{
  margin-right: 4%;
  border: none;
  padding: 3px;
  background: none;
  color: white;
  border-bottom: 1px darkgray solid;
  font-size: 14px;
}

.add-expense select{
  background: none;
  color: white;
  text-align: left;
  border: none;
  left: -6px;
  position: relative;
  font-weight: 100;
  font-size: 11px;
}

.add-expense button{
  background: none;
  border: solid white 1px;
  color: white;
  position: relative;
  top: 1px;
  font-weight: 100;
  right: 3px;
  font-size: 13px;
  margin-top: 4px;
  cursor: pointer;
}
.add-expense-min{
  overflow: hidden;
  height: 29px;
  position: relative;
  top: 79px;
  left: 15%;
  cursor: pointer;
  text-align: center;
  width: 72%;
  margin-top: -65px;
}

.add-expense-min form{
  display: flex;
  flex-direction: column;
}

.add-expense-min h4{
  margin: 3% 0;
}

.add-expense-min input{
  margin-right: 4%;
  border: none;
  padding: 3px;
  background: none;
  color: white;
  border-bottom: 1px darkgray solid;
  font-size: 14px;
}

.add-expense-min select{
  background: none;
  color: white;
  text-align: left;
  border: none;
  left: -6px;
  position: relative;
  font-weight: 100;
  font-size: 11px;
}

.add-expense-min button{
  background: none;
  border: none;
  color: white;
  position: relative;
  top: 1px;
  font-weight: 100;
  right: 3px;
  font-size: 13px;
  margin-top: 4px;
}
