@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* background: #341375;  /* fallback for old browsers */
  color: black;
  text-decoration: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  border-style: none;
}

/*         NAVBAR            */

.icon{
  width: 3em;
}

.name{
  display: inline-block;
  position: relative;
  top: -18px;
  margin-left: 12px;
  text-decoration: none;
}

.title-container{
  display: inline-block;
  margin-left: 2em;
  margin-top: 6px;
}

#navbar {
  height: 4em;
  width: auto;
  position: sticky;
  background: white;
  margin-bottom: 1em;
  text-decoration: none;
  color: black;
  box-shadow: 0 1px 12px 0px lightgrey;
}

.account-container{
  display: inline-block;
  float: right;
  position: relative;
  top: 20px;
  margin-right: 4em;
}
.categories-container{
  display: flex;
  float: right;
  position: relative;
  top: 20px;
  margin-right: 3em;
}
.categories-container div{
  margin-right: 2em;
}
.login{
  color: white;
}
