@import-normalize;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #341375;  /* fallback for old browsers */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  border-style: none;
}

/*         NAVBAR            */

.icon{
  width: 3em;
}

.name{
  display: inline-block;
}

.title-container{
  border: solid 1px black;
  display: inline-block;
}

#navbar {
  border: solid 1px black;
  height: 4em;
  width: auto;
  position: sticky;
  background: #AC98D6;
}

.categories-container{
  border: solid 1px black;
  display: inline-block;
}

.account-container{
  border: solid 1px black;
  display: inline-block;
}
